menu "Sensors driver"

config SENSORS_CM36283
	bool "PS ALS CM36283 support"
	default n
	---help---
	  ASUS SENSORS folder

config SENSORS_CAP1106
	bool "CAP1106 support"
	default n
	---help---
	  ASUS SENSORS folder

config SENSORS
	bool "Asus sensors support"
	default y
	---help---
	  ASUS SENSORS folder

config SENSORS_SSC
	bool "Enable Sensors Driver Support for SSC"
	help
	  Add support for sensors SSC driver.
	  This driver is used for exercising sensors use case,
	  time syncing with ADSP clock.

endmenu
