menu "Sensors driver"

config SENSORS_CM36283
	bool "PS ALS CM36283 support"
	default n
	---help---
	  ASUS SENSORS folder

config SENSORS_CAP1106
	bool "CAP1106 support"
	default n
	---help---
	  ASUS SENSORS folder

endmenu
