config SLIMPORT_ANX7808
	bool "Analogix Slimport transmitter ANX7808 support"	
	#default y
	help
	  Slimport Transmitter is a HD video transmitter chip
	  over micro-USB connector for smartphone device.
