config SMB_346_CHARGER
        bool "Support for Maxim 8934 charger"
        default y 

config DUMMY_CHARGER
        bool "Support for dummy charger"
        default y

config PM_8921_CHARGER
        bool "Support for PM 8921 charger"
        default y

config PM_8941_CHARGER
        bool "Support for PM 8941 charger"
        default y

config IDTP9023_CHARGER
        bool "Support for IDTP 9023 charger"
        default y
